<h1>Employee Login</h1>

<%= form_tag '/login' do %>
<hr><br>
    Name:
    <br>
    <%= text_field_tag :name %>
    <br><br>
    Password:
    <br>
    <%= password_field_tag :password %>
    <br><br>
    <%= submit_tag "Submit" %>

<% end %>