<hr>
<br>
<br>
<table class="welcometable">
  <col width="400px" />
  <tr>
    <td>Escobedo Collision Center is here to provide our customers quality auto body repair and paint services.
      We work closely with all insurance providers to provide you a seamless experience.
      We work on both foreign and domestic vehicles and always provide our customers quality work and great customer
      service.

      <br><br><br><br>
      <div class="bookwidth"><%= link_to (image_tag "booknow.png"), new_customer_path %></div><br><br>

      <%= link_to 'Are you an employee? click here',Customer %>
    </td>
    <td align="right"><div class="welcome"><%= image_tag "welcomeimage.png" %></div></td>
  </tr>
</table>